body {
    font-family: 'Roboto Condensed', sans-serif;
}

.title-section {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    height: 70vh;
    justify-content: space-around;
    align-items: center;
}

.title {
    display: block;
    width: 40vw;
}

#title-text {
    font-size: 34px;
    font-weight: 700px;
}

#btn_shop {
    padding: 10px 22px;
    background-color: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
}
 
.title-pic {
    margin-top: 30px;
    height: 66vh;
}
/* start Feature Sectiion */
.feature-section{
    display: block;
    width: 70%;
 
    margin: 30px auto;
    height: 100vh;
}
.feature-info{
    display: block;
    text-align: center;
}
.feature-tree{
    display: flex;
    justify-content: space-around;
}
.fature-box{
    display: block;
    text-align: center;
    width: 464px;
    height: 450px;
    margin: 0 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.fature-box1{
    display: block;
    text-align: center;
    width: 464px;
    height: 450px;
    margin: 0 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}
.fature-box2{
    display: block;
    text-align: center;
    width: 464px;
    height: 450px;
    margin: 0 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.fature-pic{
    margin-top: 100px;
    width: 300px;
    height: 350px;
}
.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    background-color: rgb(218, 234, 248);
    padding: 20px;

}
.our-service{
    display: block;
    text-align: center;
}
.service-time{
    display: block;
    text-align: center;
}
.service-help{
    display: block;
    text-align: center;
}
/* Hot Deal Section */